
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "mixins.less";
body {
	margin: 20px 0 0 0;
}
a {
	&:hover {
		text-decoration: none;
	}
}
.inner-side-sm {
	padding: 0 !important;
}
.inner-side-md {
	padding: 0 10px;
}
.outer-side-sm {
	padding: 10px 0;
}
.contact {
	i {
		font-size: 24px;
		width: 30px;
	}
	.info {
		margin-left: 30px;
		padding-bottom: 20px;
		i {
			font-size: 18px;
		}
	}
}
.listing {
	margin-bottom: 20px;
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 5px 0;
			list-style: none; 
		}
	}
	a {
		margin-bottom: 20px;
	}
}
.panel-inner-sm, .panel-inner-xs {
	display: block;
	border: none;
	margin: -15px;
	.list-group {
		margin-bottom: 0;
	}
	.list-group-item {
		border-right: none;
		border-left: none;
		margin-bottom: 0;
		padding-right: 0;
		a {
			font-weight: bold;
			&:hover {
				text-decoration: none;
			}
		}
		&:first-child {
			border-radius: 0;
		}
		&:last-child {
			border-radius: 0;
			border-bottom: none;
		}
	}
	form {
		padding: 15px 15px 0 15px;
		.form-control {
			margin-bottom: 10px;
		}
	}
	img {
		margin: 0;
		width: 100%;
		text-align: center;
	}
	.btn {
		margin-top: -10px;
	}
}
.btn-submit-2 {
	width: 100%;
}
.carousel-inner>.item>img {
	height: 250px !important;
}
.menu-ecu {
	@media only screen and (min-width : 768px) {
		float: right;
    }
	margin-top: 20px;
	a {
		border-color: rgba(0, 0, 0, 0.3);
		border-radius: 7px;
		margin-left: 5px;
		margin-bottom: 10px;
		font-weight: bold;
		color: #666;
        background: #e5e5e5; /* Old browsers */
        background: -moz-linear-gradient(top,  #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#cccccc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        &:hover {
       	background: #d4d4d4; /* Old browsers */
        background: -moz-linear-gradient(top,  #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(49%,#cccccc), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
        }
	}
}
.header-menu {
	//float: right;
	//position: relative;
	border-bottom: 5px solid @brand-primary;
	padding-bottom: 15px;
	width: 100%;
	padding-left: 24px;
	margin-top: 20px;
	ul {
		position: relative;
		display: block;
		float: right;
	}
	a {
		margin: 0 3px;
		position: relative;
		border-color: rgba(0, 0, 0, 0.3);
		border-radius: 7px;
		font-weight: bold;
		color: #666;
        background: #e5e5e5; /* Old browsers */
        background: -moz-linear-gradient(top,  #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#cccccc), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #e5e5e5 0%,#cccccc 49%,#e5e5e5 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        &:hover {
       	background: #d4d4d4; /* Old browsers */
        background: -moz-linear-gradient(top,  #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4d4d4), color-stop(49%,#cccccc), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #d4d4d4 0%,#cccccc 49%,#d4d4d4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
        }
	}
}
	.menu-box {
		border-bottom: 5px solid @brand-primary;
		width: 100%;
		position: relative;
		display:inline-block;
	}
.admin-menu {
	//float: right;
	//position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	li {
		width: 16.66%;
		text-align: center;
	}
}
.admin {
	i {
		margin-right: 5px;
	}
	.item {
		margin-bottom:40px;
		margin-top: 20px;
	}
	.form-box {
		background-color: lighten(@gray, 60%);
		padding: 20px 20px 10px 20px;
		margin-bottom: 10px;
		.phone-box {
			margin-left: -15px;
		}
		.phone-box2 {
			padding-right: 0px;
		}
	}
	.terms {
		padding-top: 10px;
	}
	.section {
		h2 {
			margin-left: -15px;
		}
	}
}
.menu-top {
	background-color: #d4d4d4;
	i {
		margin-right: 5px;
		margin-left: 5px;
	}
	.badge {
		margin-left: 5px;
	}
	.text {
		margin-left: 10px;
	}
}
.main {
	padding-bottom: 30px;
}
.content-body {
	h3 {
		background-color: transparent;
		color:darken(@brand-primary, 10%);
		margin-left: 0;
		padding: 10px 0;
	}
}
.file-type {
	.btn {
		margin-right: 6px;
		margin-top: -3px;
		display: inline-block;
	}
}
.maincontent {
	.panel-inner-sm {
		width: 115%;
	}
	.panel-inner-xs {
		width: 110%;
	}
	h3 {
		text-align: left !important;
	}
	h4 {
		margin:20px 0 15px 0;
	}
	.btn-submit {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.tab-pane {
		margin-top: 10px;
		h3 {
			margin-bottom: 10px;
		}
		.panel-heading {
			padding-bottom: 0px;
			h3 {
				text-transform: uppercase;
				small {
					text-transform: lowercase !important;
				}
			}
		}
	}
	.thumbnail {
		width: 100%;
	}
	.login {
		a {
			margin-top: 10px;
		}
	}
	.nav-pills {
		li {
			margin-right: 10px;
			margin-bottom: 10px;
		}
	}
}
section {
	margin: 5px 0;
	.hero-image {
		width: 100%;
		margin-bottom: 20px;
	}
	h1, h2, h3, h4, h5, h6 {
		color:darken(@brand-primary, 10%);
	}
	h3 {
		background-color: @brand-primary;
		padding: 8px;
		color:lighten(@gray, 60%);
		text-align: center;
		font-weight: bold;
		margin: 0;
		font-size: 18px;
		> a {
				color: lighten(@gray, 80%);
				&:hover {
				text-decoration: none;
				color: lighten(@gray, 80%);
			}
		small {
			color:#FFFFFF;
		}
	}
	aside {
		.panel-body {
			background-color: lighten(@gray, 60%);
			.btn {
				width: 100%;
			}
		}
		.list-group {
			margin-bottom: 0;
			}
		.list-group-item {
			text-align: center;
			}
		}
		img {
			width: 110%;
		}
		h3 {
		text-align: center !important;
		}
	}
}
.carousel-caption {
	h4 {
		background-color: rgba(255, 255, 255, 0.75);
		text-align: left;
		padding: 15px 12px 16px;
		left:0;
		margin-left: -121px;
		position: absolute;
		margin-top: 0px;
		width: 167%;
		bottom: -40px;
		font-size: 16px;
	}
}
	.table>tbody>tr>td {
		vertical-align: middle;
	}
.listing {
	.navbar {
		margin-bottom: 0;
		min-height: 44px;
	}
	.nav {
		> li {
			display: inline-block;
		}
	}
	table {
		td {

				vertical-align: middle !important;

		}
	}
	.nav>li>a:hover, .nav>li>a:focus {
		background-color: #fa5050;
	}
}
.panel-heading {
	h3 {
		background-color: transparent !important;
		color: #3071a9;
		font-weight: 400;
		padding: 0;
	}
}

footer {
	margin-top: 10px;
	color: #FFFFFF;
	background: #222222; /* Old browsers */
    background: -moz-linear-gradient(top,  #222222 0%, #2a2a2a 49%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(49%,#2a2a2a), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #222222 0%,#2a2a2a 49%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #222222 0%,#2a2a2a 49%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #222222 0%,#2a2a2a 49%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #222222 0%,#2a2a2a 49%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
    padding: 20px 0;
    .navbar-nav {
    	font-size: 13px;
    	padding: 5px 10px;
    	> li {
    		> a {
    			padding: 0 10px;
    			&:first-child {
    				padding-left: 5px;
    			}
    			&:hover {
    				background-color: #2a2a2a;
    				color: #FFFFFF;
    			}
    		}
    	}
    }
}
.nav-pills>li.active>a {
	background: #5399ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #5399ee 0%, #6ea8ef 49%, #5399ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5399ee), color-stop(49%,#6ea8ef), color-stop(100%,#5399ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5399ee', endColorstr='#5399ee',GradientType=0 ); /* IE6-9 */
}
.btn-primary {
	background: #5399ee; /* Old browsers */
    background: -moz-linear-gradient(top,  #5399ee 0%, #6ea8ef 49%, #5399ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5399ee), color-stop(49%,#6ea8ef), color-stop(100%,#5399ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5399ee 0%,#6ea8ef 49%,#5399ee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5399ee', endColorstr='#5399ee',GradientType=0 ); /* IE6-9 */
    border-color: #5399ee;
    &:hover {
    	border-color: #4e97ee;
    	background: #4e97ee; /* Old browsers */
	    background: -moz-linear-gradient(top,  #4e97ee 0%, #488cde 49%, #4e97ee 100%); /* FF3.6+ */
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e97ee), color-stop(49%,#488cde), color-stop(100%,#4e97ee)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top,  #4e97ee 0%,#488cde 49%,#4e97ee 100%); /* Chrome10+,Safari5.1+ */
	    background: -o-linear-gradient(top,  #4e97ee 0%,#488cde 49%,#4e97ee 100%); /* Opera 11.10+ */
	    background: -ms-linear-gradient(top,  #4e97ee 0%,#488cde 49%,#4e97ee 100%); /* IE10+ */
	    background: linear-gradient(to bottom,  #4e97ee 0%,#488cde 49%,#4e97ee 100%); /* W3C */
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e97ee', endColorstr='#4e97ee',GradientType=0 ); /* IE6-9 */
    }
}
// .table-striped>tbody>tr:nth-child(odd)>th {
// 	background-color: #c5defc;
// }
.table-schedule {
	ul, li {
		margin: 0;
		padding: 0;
	}
	li {
		margin-bottom: 10px;
	}
	th {
		font-size: 11px;
		text-transform: uppercase;
		background-color: @brand-primary;
		color: #FFFFFF;
		a {
			color: #FFFFFF;
			font-weight: bold;
		}
	}
	td {
		text-align: center;
		width: 3%;
		&:first-child {
			text-align: left;
		}
	}
	i {
		font-size: 24px;
		padding: 10px;

	}
	.pdf {
		background-color: @brand-danger;
		width: 50px;
		padding-bottom: 5px;
		padding-top: 5px;
		color: white;
		margin-right: 10px;
		display: inline-block;
		text-align: center;
	}
	.excel {
		background-color: @brand-success;
		width: 50px;
		padding-bottom: 5px;
		padding-top: 5px;
		color: white;
		margin-right: 10px;
		display: inline-block;
		text-align: center;
	}
	// .country {
	// 	display: none;
	// }
	.btn {
			padding: 2px 0px !important;
			margin-top: 2px !important;
	}
	.icon-excel {
		background-image: url("http://www.ntl-naigai.co.jp/images/body/common/icon_excel.gif");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: cover;
		display: block;
	}
	.icon-pdf {
		background-image: url("http://www.scottlab.com/uploads/images/Adobe-Reader.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: cover;
		display: block;
	}
}