<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{%block title%}{%endblock%}</title>

        {# uncomment the following lines to compile SCSS assets with Assetic

            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        #}
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
      
        <!-- Bootstrap Core CSS -->
        {%block stylesheets%}
            <link href="{{ asset('assets/css/eculine.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/select2-bootstrap.css') }}" rel="stylesheet">
        {%endblock%}
        <!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.js"></script>
            <script src="assets/js/respond.min.js"></script>
        <![endif]-->
        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('assets/images/apple-touch-icon-57x57.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/images/apple-touch-icon-114x114.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/images/apple-touch-icon-72x72.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/images/apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('assets/images/apple-touch-icon-60x60.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('assets/images/apple-touch-icon-120x120.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('assets/images/apple-touch-icon-76x76.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('assets/images/apple-touch-icon-152x152.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-196x196.png') }}" sizes="196x196" />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-96x96.png') }}" sizes="96x96" />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-16x16.png') }}" sizes="16x16" />
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-128.png') }}" sizes="128x128" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ asset('assets/images/mstile-144x144.png') }}" />
        <meta name="msapplication-square70x70logo" content="{{ asset('assets/images/mstile-70x70.png') }}" />
        <meta name="msapplication-square150x150logo" content="{{ asset('assets/images/mstile-150x150.png') }}" />
        <meta name="msapplication-wide310x150logo" content="{{ asset('assets/images/mstile-310x150.png') }}" />
        <meta name="msapplication-square310x310logo" content="{{ asset('assets/images/mstile-310x310.png') }}" />
    </head>
    <body>
        <header class="container">
           {% block nav %}{% endblock %}
        </header>
        <main>
            <section class="container main">
                <div class="row">
                    {% block main %}{% endblock %}
                    {% if isClient is defined %}
                        <aside class="col-sm-4">
                            {%block sidebar%}{%endblock%}
                        </aside>
                    {% endif %}
                </div>
            </section>
        </main>
        <footer>
            {%block footer%}{% endblock %}
        </footer>
        
        <!-- Default Javascripts -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.easing.1.3.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.form.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ ('assets/js/jquery.popupWindow.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>


        {%block javascripts%} {% endblock %}
        {# Global #}
        <script type="text/javascript">
            $.(document).ready(function() {
                // schedule pop up links initialization
                $('.schedule-link').popupWindow({ 
                    centerScreen:1 
                }); 

                $('select').select2();
            });
        </script>

        {% if isHome is defined %}
  
        <script type="text/javascript">
            var baseUrl = '{{ base_url }}';

            $('#select-country').on('change', function(e) {
                var self = $(this);
                var portSelect = $('#select-country-port');

                portSelect
                    .attr('disabled', true)
                    .empty()
                    .append($("<option>").val("").text("Select One"));

                if(!self.val())
                    return false;

                $.ajax({
                    url: baseUrl + "api/country/" +self.val()+"/ports",
                    type: "get",
                    dataType: 'json',
                    success: function(data) {
                        var ports = data.ports;

                        portSelect
                            .append(
                                $.map(ports, function(each) {
                                    return $("<option>").val(each.id).text(each.name);
                                })
                            )
                            .attr('disabled', false);       
                    }
                });
            });

            // // Search Form
            $('#form-search').on('submit', function(e) {
                var data = $(this).serialize();
                
                $.ajax({
                    url: baseUrl + 'api/generate-search-url',
                    type: 'post',
                    dataType: 'json',
                    data: data,
                    success: function(response) {
                        window.location.href = response.url;
                    }
                });

                e.preventDefault();
            
            });

       

        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var $_Tawk_API={},$_Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/57228bf27ada50bc0277d9f9/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->

{% endif %}

    </body>
</html>