<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{%block title%}{%endblock%}</title>

		{# uncomment the following lines to compile SCSS assets with Assetic

		    {% stylesheets filter="scssphp" output="css/app.css"
		        "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
		        "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
		        "%kernel.root_dir%/Resources/assets/css/*.css"
		        "%kernel.root_dir%/Resources/assets/scss/main.scss"
		    %}
		        <link rel="stylesheet" href="{{ asset_url }}" />
		    {% endstylesheets %}
		#}

		<!-- Bootstrap Core CSS -->
		{%block stylesheets%}
			<link href="{{ asset('assets/css/eculine.css') }}" rel="stylesheet">
		{%endblock%}
		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<!-- Favicon -->
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('assets/images/apple-touch-icon-57x57.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/images/apple-touch-icon-114x114.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/images/apple-touch-icon-72x72.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/images/apple-touch-icon-144x144.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('assets/images/apple-touch-icon-60x60.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('assets/images/apple-touch-icon-120x120.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('assets/images/apple-touch-icon-76x76.png') }}" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('assets/images/apple-touch-icon-152x152.png') }}" />
		<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-196x196.png') }}" sizes="196x196" />
		<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-96x96.png') }}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-32x32.png') }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-16x16.png') }}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ asset('assets/images/favicon-128.png') }}" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="{{ asset('assets/images/mstile-144x144.png') }}" />
		<meta name="msapplication-square70x70logo" content="{{ asset('assets/images/mstile-70x70.png') }}" />
		<meta name="msapplication-square150x150logo" content="{{ asset('assets/images/mstile-150x150.png') }}" />
		<meta name="msapplication-wide310x150logo" content="{{ asset('assets/images/mstile-310x150.png') }}" />
		<meta name="msapplication-square310x310logo" content="{{ asset('assets/images/mstile-310x310.png') }}" />
	</head>
	<body>
		<header class="container">
			<div class="navbar">
				<div class="navbar-header">
						<a class="navbar-brand col-sm-2 inner-side-sm" href="index.php"><img src="{{ asset('assets/images/logo.png') }}" class="logo" alt="" title="Ecu-line"></a>
						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
					<div class="col-sm-10 pull-right inner-side-sm">
						<ul class="nav navbar-nav header-menu">
							<li><a href="index.php" title="Home">ホーム</a></li>
							<li><a href="schedule2.php" title="Schedule">スケジュール</a></li>
							<li><a href="http://obs.as.eculine.net/" title="Booking" target="_blank">ブッキング</a></li>
							<li><a href="http://webapplications2.as.eculine.net/vad/" title="Exchange Rate and Vessel Movement" target="_blank">換算レートと本船動静</a></li>
							<li><a href="surcharge.php" title="Surcharge">輸出サーチャージ</a></li>
							<li><a href="aboutus.php" title="Company Profile">各国情報</a></li>
							<li><a href="contactus.php" title="Contact Information">お問い合わせ</a></li>
						</ul>
					</div>

				</div><!-- /.navbar-header -->
			</div><!-- /.navbar -->
		</header>
		<main>
			<section class="container main">
				<div class="row">
					{%block main%}{%endblock%}
					<aside class="col-sm-4">
						{%block sidebar%}
							<div class="panel">
								<a class="btn btn-primary btn-lg btn-submit-2" data-toggle="tooltip" title="Region Navigator" href="http://www.eculine.net/RegionNavigator" target="_blank">リージョンナビゲーター</a>
							</div>
							<div class="panel panel-default">
								<h3><a data-toggle="tooltip" title="Search Schedule">スケジュール サーチ</a></h3>
								<div class="panel-body panel-inner-sm">
									<form class="form-horizontal">
									 	<div class="form-group">
									    	<label for="inputEmail3" class="col-sm-2 control-label">From:</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" id="inputEmail3" placeholder="Origin">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <label for="inputPassword3" class="col-sm-2 control-label">To:</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" id="inputPassword3" placeholder="Destination">
										    </div>
									  	</div>
									  	<div class="form-group">
										    <div class="col-sm-12">
										      <button type="submit" class="btn btn-primary">検索スケジュール</button>
										    </div>
									  	</div>
									</form>
								</div> 
							</div>
							<div class="panel panel-default">
								<h3><a data-toggle="tooltip" title="Search Schedule"> スケジュール <small>(PDF/EXCEL)</small></a></h3>
								<div class="panel-body panel-inner-sm">
									<ul class="list-group file-type">
										<li class="list-group-item"><a href="export-pdf.php" title="Export Schedule PDF">輸出  スケジュール</a><a href="export-pdf.php" class="pull-right btn btn-danger btn-xs"><i class="fa fa-file-pdf-o"></i></a></li>
										<li class="list-group-item"><a href="expoer-excel.php" title="Export Schedule Excel">輸出  スケジュール</a><a href="export-excel.php" class="pull-right btn btn-success btn-xs"><i class="fa fa-file-excel-o"></i></a></li>
										<li class="list-group-item"><a href="import-pdf.php" title="Import Schedule PDF">スケジュール</a><a href="import-pdf.php" class="pull-right btn btn-danger btn-xs"><i class="fa fa-file-pdf-o"></i></a></li>
										<li class="list-group-item"><a href="import-excel.php" title="Import Schedule Excel">スケジュール</a><a href="import-excel.php" class="pull-right btn btn-success btn-xs"><i class="fa fa-file-excel-o"></i></a></li>
									</ul>
								</div> 
							</div>
							<div class="panel panel-default">
								<h3><a data-toggle="tooltip" title="Search Schedule"> NEW SERVICE</a></h3>
								<div class="panel-body panel-inner-sm">
									<a href="#"><img src="http://www.libraworldwide.com/wp-content/uploads/2014/07/shipping-to-japan2.jpg" alt="Eculine World Map"></a>
								</div> 
							</div>
						{%endblock%}
					</aside>
			</section>
		</main>
		<footer>
			<div class="container">
				<div class="row">
					<ul class="nav navbar-nav">
						<li><a href="index.php" title="Home">ホーム</a></li>
						<li>|</li>
						<li><a href="http://theavvashyagroup.com/" target="_blank">The Avvashya Group</a></li>
						<li>|</li>
						<li><a href="http://theavvashyagroup.com/corporate-social-responsibility-csr/" target="_blank">CSR Initiatives</a></li>
						<li>|</li>
						<li><a href="terms.php">Terms Of Use</a></li>
						<li>|</li>
						<li><a href="privacypolicy.php">Privacy Statement</a></li>
						<li>|</li>
						<li><a href="http://webapplications.as.eculine.net/ecustatisticsjp/index.aspx" target="_blank">Sign in</a></li>
					</ul>
				</div><!-- /.row --> 
				<p>Copyright © ECULine - Japan, Ltd. All rights reserved.</p>
			</div><!-- .container -->
		</footer>
		
		{%block javascripts%} {%endblock%}

		<!-- Default Javascrip -->
		<script src="{{ ('assets/js/jquery.min.js') }}"></script>
		<script src="{{ ('assets/js/jquery.easing.1.3.min.js') }}"></script>
		<script src="{{ ('assets/js/jquery.form.js') }}"></script>
		<script src="{{ ('assets/js/jquery.validate.min.js') }}"></script>
		<script src="{{ ('assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ ('assets/js/jquery.popupWindow.js') }}"></script>

		{# Global #}
		<script type="text/javascript">
			$.(document).ready(function() {
				// schedule pop up links initialization
				$('.schedule-link').popupWindow({ 
					centerScreen:1 
				}); 
			});
		</script>
	</body>
</html>