body {
  margin: 20px 0 0 0;
}
a:hover {
  text-decoration: none;
}
.inner-side-sm {
  padding: 0 !important;
}
.inner-side-md {
  padding: 0 10px;
}
.outer-side-sm {
  padding: 10px 0;
}
.panel-inner-sm,
.panel-inner-xs {
  display: block;
  border: none;
  margin: -15px;
}
.panel-inner-sm .list-group,
.panel-inner-xs .list-group {
  margin-bottom: 0;
}
.panel-inner-sm .list-group-item,
.panel-inner-xs .list-group-item {
  border-right: none;
  border-left: none;
  margin-bottom: 0;
  padding-right: 0;
}
.panel-inner-sm .list-group-item a,
.panel-inner-xs .list-group-item a {
  font-weight: bold;
}
.panel-inner-sm .list-group-item a:hover,
.panel-inner-xs .list-group-item a:hover {
  text-decoration: none;
}
.panel-inner-sm .list-group-item:first-child,
.panel-inner-xs .list-group-item:first-child {
  border-radius: 0;
}
.panel-inner-sm .list-group-item:last-child,
.panel-inner-xs .list-group-item:last-child {
  border-radius: 0;
  border-bottom: none;
}
.panel-inner-sm form,
.panel-inner-xs form {
  padding: 15px 15px 0 15px;
}
.panel-inner-sm img,
.panel-inner-xs img {
  margin: 0;
  width: 100%;
  text-align: center;
}
.btn-submit-2 {
  width: 100%;
}
.carousel-inner > .item > img {
  height: 250px !important;
}
.menu-ecu {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .menu-ecu {
    float: right;
  }
}
.menu-ecu a {
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-left: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #666;
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(49%, #cccccc), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}
.menu-ecu a:hover {
  background: #d4d4d4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(49%, #cccccc), color-stop(100%, #d4d4d4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#d4d4d4', GradientType=0);
  /* IE6-9 */
}
.header-menu {
  border-bottom: 5px solid #0d4494;
  padding-bottom: 15px;
  width: 100%;
  padding-left: 24px;
  margin-top: 20px;
}
.header-menu ul {
  position: relative;
  display: block;
  float: right;
}
.header-menu a {
  margin: 0 3px;
  position: relative;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  font-weight: bold;
  color: #666;
  background: #e5e5e5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(49%, #cccccc), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5e5e5 0%, #cccccc 49%, #e5e5e5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
}
.header-menu a:hover {
  background: #d4d4d4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4d4d4), color-stop(49%, #cccccc), color-stop(100%, #d4d4d4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d4d4d4 0%, #cccccc 49%, #d4d4d4 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#d4d4d4', GradientType=0);
  /* IE6-9 */
}
.menu-box {
  border-bottom: 5px solid #0d4494;
  width: 100%;
  position: relative;
  display: inline-block;
}
.admin-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}
.admin-menu li {
  width: 16.66%;
  text-align: center;
}
.admin i {
  margin-right: 5px;
}
.admin .item {
  margin-bottom: 40px;
  margin-top: 20px;
}
.admin .form-box {
  background-color: #eeeeee;
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}
.admin .form-box .phone-box {
  margin-left: -15px;
}
.admin .form-box .phone-box2 {
  padding-right: 0px;
}
.admin .terms {
  padding-top: 10px;
}
.admin .section h2 {
  margin-left: -15px;
}
.menu-top {
  background-color: #d4d4d4;
}
.menu-top i {
  margin-right: 5px;
  margin-left: 5px;
}
.menu-top .badge {
  margin-left: 5px;
}
.menu-top .text {
  margin-left: 10px;
}
.main {
  padding-bottom: 30px;
}
.content-body h3 {
  background-color: transparent;
  color: #092e65;
  margin-left: 0;
  padding: 10px 0;
}
.file-type .btn {
  margin-right: 6px;
  margin-top: -3px;
  display: inline-block;
}
.maincontent .panel-inner-sm {
  width: 115%;
}
.maincontent .panel-inner-xs {
  width: 110%;
}
.maincontent h3 {
  text-align: left !important;
}
.maincontent h4 {
  margin: 20px 0 15px 0;
}
.maincontent .btn-submit {
  margin-top: 10px;
  margin-bottom: 20px;
}
.maincontent .tab-pane {
  margin-top: 10px;
}
.maincontent .tab-pane h3 {
  margin-bottom: 10px;
}
.maincontent .tab-pane .panel-heading {
  padding-bottom: 0px;
}
.maincontent .tab-pane .panel-heading h3 {
  text-transform: uppercase;
}
.maincontent .tab-pane .panel-heading h3 small {
  text-transform: lowercase !important;
}
.maincontent .thumbnail {
  width: 100%;
}
.maincontent .login a {
  margin-top: 10px;
}
.maincontent .nav-pills li {
  margin-right: 10px;
  margin-bottom: 10px;
}
section {
  margin: 5px 0;
}
section .hero-image {
  width: 100%;
  margin-bottom: 20px;
}
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  color: #092e65;
}
section h3 {
  background-color: #0d4494;
  padding: 8px;
  color: #eeeeee;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
section h3 > a {
  color: #ffffff;
}
section h3 > a:hover {
  text-decoration: none;
  color: #ffffff;
}
section h3 > a small {
  color: #FFFFFF;
}
section h3 aside .panel-body {
  background-color: #eeeeee;
}
section h3 aside .panel-body .btn {
  width: 100%;
}
section h3 aside .list-group {
  margin-bottom: 0;
}
section h3 aside .list-group-item {
  text-align: center;
}
section h3 img {
  width: 110%;
}
section h3 h3 {
  text-align: center !important;
}
.carousel-caption h4 {
  background-color: rgba(255, 255, 255, 0.75);
  text-align: left;
  padding: 15px;
  left: 0;
  margin-left: -121px;
  position: absolute;
  margin-top: 0;
  font-size: 16px;
  width: 167%;
  bottom: -20px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
.listing .navbar {
  margin-bottom: 0;
  min-height: 44px;
}
.listing .nav > li {
  display: inline-block;
}
.listing table td {
  vertical-align: middle !important;
}
.listing .nav > li > a:hover,
.listing .nav > li > a:focus {
  background-color: #fa5050;
}
.panel-heading h3 {
  background-color: transparent !important;
  color: #3071a9;
  font-weight: 400;
  padding: 0;
}
footer {
  margin-top: 10px;
  color: #FFFFFF;
  background: #222222;
  /* Old browsers */
  background: -moz-linear-gradient(top, #222222 0%, #2a2a2a 49%, #222222 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(49%, #2a2a2a), color-stop(100%, #222222));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #222222 0%, #2a2a2a 49%, #222222 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #222222 0%, #2a2a2a 49%, #222222 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #222222 0%, #2a2a2a 49%, #222222 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #222222 0%, #2a2a2a 49%, #222222 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#222222', GradientType=0);
  /* IE6-9 */
  padding: 20px 0;
}
footer .navbar-nav {
  font-size: 13px;
  padding: 5px 10px;
}
footer .navbar-nav > li > a {
  padding: 0 10px;
}
footer .navbar-nav > li > a:first-child {
  padding-left: 5px;
}
footer .navbar-nav > li > a:hover {
  background-color: #2a2a2a;
  color: #FFFFFF;
}
.nav-pills > li.active > a {
  background: #5399ee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5399ee), color-stop(49%, #6ea8ef), color-stop(100%, #5399ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5399ee', endColorstr='#5399ee', GradientType=0);
  /* IE6-9 */
}
.btn-primary {
  background: #5399ee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5399ee), color-stop(49%, #6ea8ef), color-stop(100%, #5399ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5399ee 0%, #6ea8ef 49%, #5399ee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5399ee', endColorstr='#5399ee', GradientType=0);
  /* IE6-9 */
  border-color: #5399ee;
}
.btn-primary:hover {
  border-color: #4e97ee;
  background: #4e97ee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4e97ee 0%, #488cde 49%, #4e97ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e97ee), color-stop(49%, #488cde), color-stop(100%, #4e97ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4e97ee 0%, #488cde 49%, #4e97ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4e97ee 0%, #488cde 49%, #4e97ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4e97ee 0%, #488cde 49%, #4e97ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4e97ee 0%, #488cde 49%, #4e97ee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e97ee', endColorstr='#4e97ee', GradientType=0);
  /* IE6-9 */
}
.table-schedule th {
  font-size: 11px;
  text-transform: uppercase;
  background-color: #0d4494;
  color: #FFFFFF;
}
.table-schedule th a {
  color: #FFFFFF;
  font-weight: bold;
}
.table-schedule td {
  text-align: center;
  width: 3%;
}
.table-schedule td:first-child {
  text-align: left;
}
.table-schedule .btn {
  padding: 2px 0px !important;
  margin-top: 2px !important;
}
.table-schedule .icon-excel {
  background-image: url("http://www.ntl-naigai.co.jp/images/body/common/icon_excel.gif");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  display: block;
}
.table-schedule .icon-pdf {
  background-image: url("http://www.scottlab.com/uploads/images/Adobe-Reader.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: cover;
  display: block;
}
