{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
<div class="col-md-12 inner-right inner-bottom-md">
	<ul class="breadcrumb">
		<li>
			<a href="dashboard.php"><i class="fa fa-home"></i></a>
		</li>
		<li class="active">
			Schedule List
		</li>
	</ul>
	<div class="col-sm-12 item">
		<h3><i class="fa fa3"></i> Schedule List</h3>
		<hr>
		<div class="row">
			<div class="col-sm-12 item">
				<h4 class="pull-left">&nbsp;</h4>
				<div class="pull-right btn-option">
					<a class="btn btn-success" href="{{ path('admin_schedules_new') }}"><i class="fa fa-plus-square"></i> Add New Schedule</a>
	            </div>
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
              			<thead>
                  			<tr role="row">
                  				<th>Date and Time Added</th>
                  				<th>Port Origin</th>
                  				<th>Port Destination</th>
                  				<th>Month and Year</th>
                  				<th>Excel/Pdf File</th>
                  				<th>Actions</th>
                  			</tr>
              			</thead>   
              			<tbody>
              				{% for schedule in schedules %}
              				<tr>
              					<td>{{ schedule.dateCreated|date('Y-m-d g:ia', false) }}</td>
	                            <td>
	                            	<h4>{{ schedule.portOrigin.name }}</h4>
	                            </td>
	                            <td>
	                                <h4>{{ schedule.portDestination.name }}</h4>
	                            </td>
	                            <td>{{ schedule.scheduleMonth }} <span>{{ schedule.scheduleYear }}</span></td>
	                            <td>
	                            	<a class="btn btn-sm btn-success" href="{{ asset('uploads/schedules/excel/' ~ schedule.excelFile) }}"><i class="fa fa-file-excel-o"></i> Excel</a>
	                            	<a class="btn btn-sm btn-info" href="{{ asset('uploads/schedules/pdf/' ~ schedule.pdfFile) }}"><i class="fa fa-file-pdf-o"></i> Pdf</a>
	                            </td>
                    			<td>
                        			<a class="btn btn-sm btn-info" href="{{ asset('uploads/schedules/excel/' ~ schedule.excelFile) }}"><i class="fa fa-search-plus"></i></a>
                                    <a class="btn btn-sm btn-danger" href="{{ path('admin_schedule_delete', {id: schedule.id}) }}"  onclick="return confirm('Are you sure you want delete this record?')"><i class="fa fa-remove"></i></a>
                        			<a class="btn btn-sm btn-success" href="{{ path('admin_schedule_edit', {id: schedule.id}) }}"><i class="fa fa-edit"></i></a>
	               				</td>
               				</tr> 
              				{% endfor %}
                         </tbody>
                </table>
                <!-- this will only show if more than 10 listing -->
				{# <nav>
					<ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
				  	</ul>
				</nav> #}
            </div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}