{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Create Schedule{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
<div class="col-md-12 inner-right inner-bottom-md">
    <ul class="breadcrumb">
        <li>
            <a href="dashboard.php"><i class="fa fa-home"></i></a>
        </li>
        <li class="active">
            Add Schedule
        </li>
    </ul>
    <div class="row">
        <div class="col-sm-12 item">
            <div class="col-md-8 col-md-offset-2">
                <h1>
                <i class="fa fa-user fa3"></i> Add New Schedule
                </h1>
                <hr>
                <form action="#" method="post">
                    <section class="section">
                        <h2>Schedule Information</h2>
                        <div class="row">
                            <div class="well">
                                <div class="row">
                                <div class="col-sm-12"><label>Schedule Type</label></div>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Import" required="true">Import
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Import" required="true">Export
                                        </label>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="schedulename">Schedule Name</label>
                                    <input type="text" class="form-control" required="" placeholder="e.g November Export - Cebu to Tokyo">
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Month</label>
                                        <input type="text" class="form-control" required=""> <!-- -used select for months -->
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Year</label>
                                        <input type="text" class="form-control" required="" placeholder="e.g 2014">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12"><label>Type of Entry</label></div>
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="Good" required="true">Good
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" value="Dangerous" required="true">Dangerous
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Region / Continent</label>
                                        <input type="text" class="form-control" required="">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Country</label>
                                        <input type="text" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Port Origin</label>
                                        <input type="text" class="form-control" required="">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="account-firstname">Port Destination</label>
                                        <input type="text" class="form-control" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">PDF File</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Upload PDF File</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Excel File</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Upload Excel File</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row terms">
                                <div class="col-sm-12">
                                    <button class="btn pull-right btn-primary btn-lg">Submit</button>
                                    <button class="btn pull-right btn-lg btn-link">Cancel</button>
                                </div>
                            </div>  
                        </div>      
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}