<div class="container">
    <div class="row">
        <ul class="nav navbar-nav">
            <li><a href="index.php" title="Home">ホーム</a></li>
            <li>|</li>
            <li><a href="http://theavvashyagroup.com/" target="_blank">The Avvashya Group</a></li>
            <li>|</li>
            <li><a href="http://theavvashyagroup.com/corporate-social-responsibility-csr/" target="_blank">CSR Initiatives</a></li>
            <li>|</li>
            <li><a href="{{ path('terms_of_use') }}">Terms Of Use</a></li>
            <li>|</li>
            <li><a href="{{ path('privacy_statement') }}">Privacy Statement</a></li>
            <li>|</li>
            <li><a href="http://webapplications.as.eculine.net/ecustatisticsjp/index.aspx" target="_blank">Sign in</a></li>
        </ul>
    </div><!-- /.row --> 
    <p>Copyright © ECULine - Japan, Ltd. All rights reserved.</p>
</div><!-- .container -->