<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" class="logo" alt="" title="Ecu-line"></a>
		</div>
		<div class="pull-right">
			<div class="navbar">
				<ul class="nav navbar-nav menu-top">
					{# <li><a href="#"><i class="fa fa-envelope"></i>Logs<span class="badge"> 10 </span></a></li> #}
					{# <li><a href="{{path('admin_logout')}}"><i class="fa fa-flag"></i>Logout{# <span class="badge"> 10  </span></a></li> #}
					<li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user"></i>{{  app.user.username|capitalize }}<i class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu">
							<li><a href="manage-profile.php"><i class="icon-edit"></i> Manage Account</a></li>
							<li class="divider"></li>
							<li class="text">Logged in as:</li>
							<li class="text">{{app.user.username}}</li>
							<li class="divider"></li>
							<li><a href="{{path('admin_logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<ul class="nav nav-tabs nav-menu admin-menu">
			<li class="{{ tabDashboard is defined ? 'active' : '' }}"><a href="{{ path('admin_dashboard') }}" title="Dashboard">Dashboard</a></li>
			<li class="{{ tabSchedule is defined ? 'active' : ''}}"><a href="{{ path('admin_schedules') }}" title="Schedule">Schedules</a></li>
			<li class="{{ tabSurcharge is defined ? 'active' : '' }}"><a href="{{ path('admin_surcharge') }}" title="Surcharge">Surcharge</a></li>
			{# <li ><a href="#" title="Service">Service</a></li> #}
			<li class="{{ tabUser is defined ? 'active' : ''}}"><a href="{{path('admin_users')}}" title="User">Users</a></li>
			{# <li><a href="#" title="Job Management">Jobs</a></li> #}
		</ul>
</div>