<div class="pull-right">
    <label><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'en'})) }}" id="a-locale" data-locale="{{ app.request.locale }}"><img src="http://www.flaginstitute.org/wp/wp-content/uploads/2012/10/UK-Union-Flag.png" alt="" height="20px" width="auto"></a></label> or
    <label><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'jp'})) }}" id="a-locale" data-locale="{{ app.request.locale }}"><img src="http://www.all-flags-world.com/country-flag/Japan/flag-japan-XL.jpg" alt="" height="20px" width="auto"></a></label>
</div>
<style type="text/css">
	/*Move this to SASS*/
	.text-limit-elipse {
		text-overflow: ellipsis;
		max-width: 183px;
		white-space: nowrap;
		overflow: hidden;
	}
	.img-logo {
		width: 174px;
		height: 64px;
		margin: 21px -26px;
	}
</style>
<div class="navbar-header">
		<a class="navbar-brand col-sm-2 inner-side-sm" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png') }}" class="logo" alt="" title="Ecu-line"></a>
		<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
	<div class="col-sm-10 pull-right inner-side-sm">
		<ul class="nav navbar-nav header-menu">
			<li translate="no"><a href="{{ path('homepage') }}" title="Home" translate="no">{{ 'menu.home'|trans }}</a></li>
			<li translate="no"><a href="{{ path('schedules') }}" title="Schedule" translate="no">{{ 'menu.schedule'|trans }}</a></li>
			<li translate="no"><a href="http://obs.as.eculine.net/" title="Booking" target="_blank" translate="no">{{ 'menu.booking'|trans }}</a></li>
			<li translate="no"><a href="http://webapplications2.as.eculine.net/vad/" title="Exchange Rate and Vessel Movement" target="_blank" translate="no" class="text-limit-elipse">{{ 'menu.exchange_rate'|trans }}</a></li>
			<li translate="no"><a href="{{ path('surchage') }}" title="Surcharge" translate="no">{{ 'menu.surcharge'|trans }}</a></li>
			<li translate="no"><a href="{{ path('about_us') }}" title="Company Profile" translate="no">{{ 'menu.about_us'|trans }}</a></li>
			<li translate="no"><a href="#" title="Contact Information" translate="no">{{ 'menu.contact_us'|trans }}</a></li>
		</ul>
	</div>
</div><!-- /.navbar-header -->