<div class="panel">
    <a class="btn btn-primary btn-lg btn-submit-2" data-toggle="tooltip" title="Region Navigator" href="http://www.eculine.net/RegionNavigator" target="_blank">リージョンナビゲーター</a>
</div>
<div class="panel panel-default">
    <h3><a data-toggle="tooltip" title="Search Schedule">スケジュール サーチ</a></h3>
    <div class="panel-body panel-inner-sm">

        {# please implement search here #}
        <form class="form-horizontal" id="form-search" method="post">
                        <div class="form-group">
                             <div class="col-sm-12">
                            <label for="inputEmail3" class="control-label">荷受地:</label>
                            <select class="form-control" id="select-port" name="portOriginId">
                                {% if japanPorts %}
                                {% for port in japanPorts %}
                                    <option value="{{port.id}}" data-name={{port.name|lower}}>{{port.name}}</option>
                                {% endfor %}
                                {% else %}
                                    <option value="">Select One</option>
                                {% endif %}

                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="inputPassword3" class="control-label">仕向け地:</label>
                                <select class="form-control" id="select-country" name="countryId">
                                    <option value="" selected>Select Country</option>
                                    {% for country in countries %}
                                        {% if country.name != 'Japan' %}
                                            <option value="{{country.id}}" data-name={{country.name|lower}}>{{country.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <select class="form-control"id="select-country-port" name="portDestinationId" disabled="">
                                <option value="" selected>Select One</option>
                                </select>
                            </div>  
                        </div>
                        <div class="form-group">
                             <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">サーチ</button>
                        </div>
                        </div>
                    </form>

                    {# end search here #}
    </div> 
</div>
<div class="panel panel-default">
    <h3><a data-toggle="tooltip" title="Search Schedule"> スケジュール <small>(PDF/EXCEL)</small></a></h3>
    <div class="panel-body panel-inner-sm">
        <ul class="list-group file-type">
            {# {% for schedule in schedules %}  button that will link to import and export files #}
                              
                                    <li class="list-group-item"><a href="{{path('schedule_list', {category: 'export', fileType: 'pdf'})}}" title="Export Schedule PDF">輸出  スケジュール</a><a href="{{path('schedule_list', {category: 'export', fileType: 'pdf'})}}" class="pull-right btn btn-danger btn-xs"><i class="fa fa-file-pdf-o"></i></a></li>
                                    <li class="list-group-item"><a href="{{path('schedule_list', {category: 'export', fileType: 'excel'})}}" title="Export Schedule Excel">輸出  スケジュール</a><a href="{{path('schedule_list', {category: 'export', fileType: 'excel'})}}" class="pull-right btn btn-success btn-xs"><i class="fa fa-file-excel-o"></i></a></li>
                                    <li class="list-group-item"><a href="{{path('schedule_list', {category: 'import', fileType: 'pdf'})}}" title="Import Schedule PDF">輸入 スケジュール</a><a href="{{path('schedule_list', {category: 'import', fileType: 'pdf'})}}" class="pull-right btn btn-danger btn-xs"><i class="fa fa-file-pdf-o"></i></a></li>
                                    <li class="list-group-item"><a href="{{path('schedule_list', {category: 'import', fileType: 'excel'})}}" title="Import Schedule Excel">輸入 スケジュール</a><a href="{{path('schedule_list', {category: 'import', fileType: 'excel'})}}" class="pull-right btn btn-success btn-xs"><i class="fa fa-file-excel-o"></i></a></li>
                               
             {# {% endfor %} #}
            
        </ul>
    </div> 
</div>
<div class="panel panel-default">
    <h3><a data-toggle="tooltip" title="Search Schedule"> NEW SERVICE</a></h3>
    <div class="panel-body panel-inner-sm">
        <a href="#"><img src="http://www.libraworldwide.com/wp-content/uploads/2014/07/shipping-to-japan2.jpg" alt="Eculine World Map"></a>
    </div> 
</div>


