{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
  <div class="col-md-12 inner-right inner-bottom-md">
  	<h2>Dashboard</h2>
  	<hr>
  	<div class="row">
  		<div class="col-sm-12 item">
  			<h4 class="pull-left">Recently Added Schedule</h4>
  			<div class="pull-right btn-option">
  			{# 	<a class="btn btn-success" href="{{ path('admin_schedules_new') }}"><i class="fa fa-plus-square"></i> Add New Schedule</a> #}
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
    			<thead>
        			<tr role="row">
        				<th>Date and Time Added</th>
        				<th>Port Origin</th>
        				<th>Port Destination</th>
        				<th>Month and Year</th>
        				<th>Excel/Pdf File</th>
        				{# <th>Actions</th> #}
        			</tr>
    			</thead>   
    			<tbody>
    				{% for each in schedules %}
                        <tr>
                            <td>{{each.dateCreated|date('Y-m-d g:ia', false) }}</td>
                          <td>
                            <h4>{{ each.portOrigin.name }}</h4>
                          </td>
                          <td>
                              <h4>{{ each.portDestination.name }}</h4>
                          </td>
                          <td>{{ each.scheduleMonth }} <span>{{ each.scheduleYear }}</span></td>
                          <td>
                            <a class="btn btn-success" href="{{ asset('uploads/schedules/excel/' ~ each.excelFile) }}"><i class="fa fa-file-excel-o"></i> Excel</a>
                             <a class="btn btn-danger" href="{{ asset('uploads/schedules/pdf/' ~ each.pdfFile) }}"><i class="fa fa-file-pdf-o"></i> Pdf</a>
                          </td>
                        {# <td>
                            <a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details </a>
                            </td>
                        </tr> #}
                    {% endfor %}
      		    </tbody>
          	</table>
      	</div>
      	{# <div class="col-sm-12 item">
  			<h4 class="pull-left">Recently Added Services</h4>
  			<div class="pull-right btn-option">
  				<a class="btn btn-sm btn-success" href="#"><i class="fa fa-plus-square"></i>Add New Service</a>
                  <a class="btn btn-sm btn-info" href="#"><i class="fa fa-edit"></i>  View All </a>
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        			<thead>
            			<tr role="row">
            				<th>Date and Time Added</th>
            				<th>Service Name</th>
            				<th>File Type</th>
            				<th>Actions</th>
            			</tr>
        			</thead>   
        			<tbody>
        				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Service Name</h4>
                          </td>
                          <td>
                          	<a class="btn btn-success" href="#"><i class="fa fa-file-excel-o"></i>Excel</a>
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
             				</td>
         				</tr>
         				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Service Name</h4>
                          </td>
                          <td>
                          	<a class="btn btn-danger" href="#"><i class="fa fa-file-pdf-o"></i>Pdf</a>
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
             				</td>
         				</tr>
          		</tbody>
          	</table>
      	</div> #}
      	{# <div class="col-sm-12 item">
  			<h4 class="pull-left">Current Surcharge</h4>
  			<div class="pull-right btn-option">
  				<a class="btn btn-sm btn-success" href="#"><i class="fa fa-plus-square"></i>Add New Surcharge</a>
                  <a class="btn btn-sm btn-info" href="#"><i class="fa fa-edit"></i>  View All </a>
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        			<thead>
            			<tr role="row">
            				<th>Date and Time Added</th>
            				<th>Service Name</th>
            				<th>Month and Year</th>
            				<th>File Type</th>
            				<th>Actions</th>
            			</tr>
        			</thead>   
        			<tbody>
        				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Service Name</h4>
                          </td>
                          <td>November 2015</td>
                          <td>
                          	<a class="btn btn-success" href="#"><i class="fa fa-file-excel-o"></i>Excel</a>
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
             				</td>
         				</tr>
          		</tbody>
          	</table>
      	</div>
      	 #}
         {# <div class="col-sm-12 item">
  			<h4 class="pull-left">Recently Added Jobs</h4>
  			<div class="pull-right btn-option">
  				<a class="btn btn-sm btn-success" href="#"><i class="fa fa-plus-square"></i>Post New Job</a>
                  <a class="btn btn-sm btn-info" href="#"><i class="fa fa-edit"></i>  View All </a>
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        			<thead>
            			<tr role="row">
            				<th>Date and Time Added</th>
            				<th>Job Title</th>
            				<th>Description</th>
            				<th>Office</th>
            				<th>Actions</th>
            			</tr>
        			</thead>   
        			<tbody>
        				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Job Title Here</h4>
                          </td>
                          <td>Lorem ipsum - Short JOb Description</td>
                          <td>
                          	Osaka Office
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
             				</td>
         				</tr>
          		</tbody>
          	</table>
      	</div> #}
      	{# <div class="col-sm-12 item">
  			<h4 class="pull-left">Recently Added Users</h4>
  			<div class="pull-right btn-option">
  				<a class="btn btn-sm btn-success" href="#"><i class="fa fa-plus-square"></i>Add New User</a>
                  <a class="btn btn-sm btn-info" href="#"><i class="fa fa-edit"></i>  View All </a>
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        			<thead>
            			<tr role="row">
            				<th>Date and Time Added</th>
            				<th>Username</th>
            				<th>Position</th>
            				<th>User Type</th>
            				<th>Actions</th>
            			</tr>
        			</thead>   
        			<tbody>
        				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>username</h4>
                          </td>
                          <td>Manager</td>
                          <td>
                          	Staff
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
                  			<a class="btn btn-danger" href="#"><i class="fa fa-trash"></i>Delete</a>
             				</td>
         				</tr>
          		</tbody>
          	</table>
      	</div> #}
  	</div>
  </div>
{% endblock %}


{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}