{% extends 'base.html.twig' %}

{% block title %}Eculines Administration Login{% endblock %}

{% block nav %}
	<div class="navbar">
		<div class="navbar-header">
				<a class="navbar-brand col-sm-2 inner-side-sm" href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo.png')}}" class="logo" alt="" title="Ecu-line"></a>
				<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
		</div><!-- /.navbar-header -->
	</div><!-- /.navbar -->
{% endblock %}

{% block main %}
	<div class="col-md-6 col-md-offset-3 inner-right inner-bottom-md">
	<h2>Login</h2>
	<div class="well">
		<div>
			{% if error %}
			    <div class="alert alert-danger">{{ error.message }}</div>
			{% endif %}
		</div>
		<form class="forms login" action="{{ path('admin_login_check') }}" method="post">
		<form class="forms login" >
			<div class="form-group">
				<div class="row">
					<div class="col-sm-12">
						<label for="username">Username</label>
						<input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />

					</div><!-- /.col -->
				</div><!-- /.row -->
				<div class="row">
					<div class="col-sm-12">
					<label for="password">Password</label>
					<input type="password" id="password" name="_password" class="form-control">
					{# <span class="pull-right"><a href="#">Forgot Password</a></span> #}
					</div><!-- /.col -->
				</div><!-- /.row -->
				 <div class="checkbox">
						<label><input type="checkbox"> <span>Remember Me</span></label>
				</div>
				<button type="submit" class="pull-right btn btn-primary btn-lg btn-submit">Submit</a>
			</div>
		</form>
	<div id="response"></div>
	<div class="clear" style="height:40px;">&nbsp;</div>
	</div>
	</div>
{% endblock %}

{% block footer %}
	{{ include('layout/footer.html.twig') }}
{% endblock %}