{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
  <div class="col-md-12 inner-right inner-bottom-md">
  	<h2>Schedules</h2>
  	<hr>
  	<div class="row">
  		<div class="col-sm-12 item">
  			<h4 class="pull-left">Schedule List</h4>
  			<div class="pull-right btn-option">
  				<a class="btn btn-sm btn-success" href="{{ path('admin_schedules_new') }}"><i class="fa fa-plus-square"></i>Add New Schedule</a>
                 {#  <a class="btn btn-sm btn-info" href="{{ path('admin_schedules_new') }}"><i class="fa fa-edit"></i>  View All </a> #}
  			</div>
  			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
        			<thead>
            			<tr role="row">
            				<th>Date and Time Added</th>
            				<th>Port Origin</th>
            				<th>Port Desitnation</th>
            				<th>Month and Year</th>
            				<th>File Type</th>
            				<th>Actions</th>
            			</tr>
        			</thead>   
        			<tbody>
        				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Osaka</h4>
                          </td>
                          <td>
                              <h4>Cebu</h4>
                          </td>
                          <td>November <span>2014</span></td>
                          <td>
                          	<a class="btn btn-success" href="#"><i class="fa fa-file-excel-o"></i>Excel</a>
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details</a>
             				</td>
         				</tr>
         				<tr>
        					<td>10-09-2015 01:24 PM</td>
                          <td>
                          	<h4>Osaka</h4>
                          </td>
                          <td>
                              <h4>Cebu</h4>
                          </td>
                          <td>November <span>2014</span></td>
                          <td>
                          	<a class="btn btn-danger" href="#"><i class="fa fa-file-pdf-o"></i>Pdf</a>
                          </td>
              			<td>
                  			<a class="btn btn-info" href="#"><i class="fa fa-search-plus"></i>View Details </a>
             				</td>
         				</tr>
          		</tbody>
          	</table>
      	</div>
  </div>
{% endblock %}


{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}