{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
  <div class="col-md-12 inner-right inner-bottom-md">
  	<ul class="breadcrumb">
  		<li>
  			<a href="dashboard.php"><i class="fa fa-home"></i></a>
  		</li>
  		<li class="active">
  			Add Surcharge
  		</li>
  	</ul>
  	<div class="row">
  		<div class="col-sm-4">
  			<i class="fa fa-file fa3"></i> Current Surcharge Pdf:
  			<iframe id="viewer" src="{{ asset('bundles/app/ViewerJS/index.html') }}#{{ asset('uploads/surcharge/surcharge.pdf') }}" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>
  		</div>	
  		<div class="col-sm-8 item">
  			<div class="col-md-8 col-md-offset-2">
  				<h3>
  				<i class="fa fa-user fa3"></i> Update Surcharge PDF File
  				</h3>
  				<hr>
  				<form action="{{path('admin_surcharge')}}" method="post" enctype="multipart/form-data">
  					{% if message %}<div class="alert alert-success">{{message}}</div>{% endif %}
  					<section class="section">
  						<h4>Upload File</h4>
  						<div class="row">
  							<div class="well">
  								<div class="clear">&nbsp;</div>
  								<div class="row">
  									<div class="col-sm-4">
  										<div class="form-group">
  										    <label for="exampleInputFile">PDF File</label>
  										    <input required type="file" name="surcharge" id="exampleInputFile">
  										    <p class="help-block">Upload PDF File</p>
  										</div>
  									</div>
  								</div>
  							</div>
  							<div class="row terms">
  								<div class="col-sm-12">
  									<button class="btn pull-right btn-primary">Submit</button>
  									<button class="btn pull-right btn-link">Cancel</button>
  								</div>
  							</div>	
  						</div>		
  					</section>
  				</form>
  			</div>
  		</div>
  	</div>
  </div>
{% endblock %}


{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}
