{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
  <div class="col-md-12 inner-right inner-bottom-md">
  	<h2>Update User</h2>
  	<hr>
  	<div class="row">
  		<div class="col-sm-12 item">
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
  		{{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-lg btn-success pull-right">Update</button>
                </div>
            </div>
        {{ form_end(form) }}
      </div>
  </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}