{% extends 'base.html.twig' %}

{% block title %}Eculines Admin - Dashboard{% endblock %}

{% block nav %} 
   {{ include('layout/nav-admin.html.twig') }}
{% endblock %}

{% block main %}
  			<div class="col-md-12 inner-right inner-bottom-md">
  				<ul class="breadcrumb">
  					<li>
  						<a href="dashboard.php"><i class="fa fa-home"></i></a>
  					</li>
  					<li class="active">
  						Users List
  					</li>
  				</ul>
  				<div class="col-sm-12 item">
  					<h3><i ></i>Users Listing</h3>
  					<hr>
  					<div class="row">
  						<div class="col-sm-12 item">
  							<h4 class="pull-left">&nbsp;</h4>
  							<div class="pull-right btn-option">
  								<a class="btn btn-sm btn-success" href="{{path('admin_users_add')}}"><i class="fa fa-plus-square"></i> Add New User</a>
  				            </div>
  				            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                        			<thead>
                            			<tr role="row">
                            				<th>Date and Time Added</th>
                            				<th>Username</th>
                            				<th>Email</th>
                            				<th>User Type</th>
                            				<th>Actions</th>
                            			</tr>
                        			</thead>   
                        			<tbody>
                        				{% for user in users %}
                    				<tr>
                    					<td>{{user.dateCreated|date('Y-m-d g:ia', false)}}</td>
			                            <td>
			                            	<h4>{{user.username}}</h4>
			                            </td>
			                            <td>
			                            	<h4>{{user.email}}</h4>
			                            </td>
			                            <td>
			                            	{{user.roles[0]}}
			                            </td>
                          			<td>
                              			<a class="btn btn-info btn-sm" href="{{path('admin_users_edit', {id: user.id})}}"><i class="fa fa-list"></i></a>
                              			 <a class="btn btn-sm btn-danger" href="{{ path('admin_users_delete', {id: user.id}) }}"  onclick="return confirm('Are you sure you want delete this record?')"><i class="fa fa-remove"></i></a>
			               				</td>
                     				</tr>
                         				{% endfor %}
                          		</tbody>
                          	</table>
  	                        <!-- this will only show if more than 10 listing -->
  							{# <nav>
  								<ul class="pagination">
  								    <li>
  								      <a href="#" aria-label="Previous">
  								        <span aria-hidden="true">&laquo;</span>
  								      </a>
  								    </li>
  								    <li><a href="#">1</a></li>
  								    <li><a href="#">2</a></li>
  								    <li><a href="#">3</a></li>
  								    <li><a href="#">4</a></li>
  								    <li><a href="#">5</a></li>
  								    <li>
  								      <a href="#" aria-label="Next">
  								        <span aria-hidden="true">&raquo;</span>
  								      </a>
  								    </li>
  							  	</ul>
  							</nav> #}
                          </div>
  					</div>
  				</div>
  			</div>
{% endblock %}


{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}