{% extends 'base.html.twig' %}

{% block title %}Eculines About Us{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
	<div class="col-sm-8 inner-side-md maincontent">
	<!-- <h4>
	The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
	</h4> -->
		<h1>
		各国情報
		</h1>
		<hr>
		<div class="row">
			<div class="col-md-12 content-body">
			<h3>About us</h3>

			<p>With a lineage of over 25 years in NVOCC industry, ECU-LINE has been one of the global leaders in providing LCL services. Our expertise has resulted in an unparalleled focus on LCL shipments along with innovative and technology driven solutions to move our customer’s shipments anywhere across the globe. </p>

			<p>With a comprehensive global network through presence  in over 90 countries, over 200 offices and more than 8,500 team members globally, today ECU-LINE not only ships cargo across all continents, we also offers wide variety of Value Added Services, Outsourcing Solutions and Consultancy around our core product of LCL. </p>

			<p>As one of the market leaders, ECU-LINE is a neutral NVOCC. Our customer base not only consists of major multinational freight forwarders but also numerous ambitious small and medium size organisations globally. No matter the size of the business, we are happy to serve YOU in the best possible way because we believe that ‘It’s not just LCL – It’s our passion !’</p>

			<p>Our service commitment is not limited to ECU-LINE offices in your city or country, as we guarantee through our global network and reach, best in class services driven by high quality standards endeavoring to make LCL as easy as possible for your business, allowing you to focus on your customers.</p>

			<h3>Corporate History</h3>
			<p>The foundations for the ECU-LINE Group of Companies were laid in 1987. ECU-LINE was established and started activities on January 1st, 1988 serving the Antwerp based forwarding industry in Belgium in a first stage, the rest of Europe and the world in a second stage.</p>

			<p>Yes, we can... was introduced to the world...

			<p>By January 1st 1991, the company needed to expand its premises, which lead to the construction of the Eurocenter warehouse and offices, the new location, which is still part of ECU-LINE's home-base today.</p>

			<p>In 1997 the Global HQ was founded under the name of ECU INTERNATIONAL NV, managing the -in the meantime- strongly expanded group of companies.</p>

			<p>Throughout the years of growth, the management team has always been able to count on extreme dedication of its people and the key management is in place for over 20 years within the group.</p>

			<p>This is probably the company's key to success.

			In 2006, the ECU-LINE group was bought by Allcargo Global Logistics Ltd, Mumbai, a partner of the group , which very soon resulted in further expansion and financial stability.</p>

			In 2011, the chairman Mr Shashi Kiran Shetty has founded the AVASHYA group , a name that stands for “ transformation that delights”, and ECU-LINE is a proud entity of this brand.</p>

			Indeed the transformation, brought to the group in the last 5 years has been excellent to all, and this by maintaining the core philosophy and values of the business. Working for the forwarding industry.</p>

			ECU-LINE is the right way to ship your LCL cargo. That’s why people in the world say...</p>

			<h4>Don’t just ship it... ECU IT!</h4>

			<h3>Vision</h3>
			<p>To be the Global Market Leader in our segments of transport logistics.</p>

			<h3>Mission</h3>
			<p>Provide quality enriched LCL logistics solutions by proficiently using innovative methods and advanced technology through a spirit of partnership.</p>

			<h3>Core Values</h3>
			<ul class="nav nav-pill">
			<li>Trust</li>
			<li>Integrity</li>
			<li>Team spirit</li>
			<li>Leadership</li>
			<li>Passion for excellence</li>
			<li>Respect for individuals</li>
			<li>Transparency and Openness</li>
			</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}