{% extends 'base.html.twig' %}

{% block title %}
    Eculines
{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
	<div class="col-sm-8 inner-side-md maincontent">
		<!-- <h4>
			The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
		</h4> -->
		<h4>
			The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
		</h4>
		<!-- <hr> -->
		<!-- <img src="assets/images/HomeBanner.jpg" alt="Eculine Hero Image" class="hero-image"> -->
		<div class="row">
			<div class="col-md-12 inner-side-md">
				<div class="panel panel-default">
					<!-- <h3><a data-toggle="tooltip" title="Pick Up"> ピックアップ</a></h3> -->
					<div class="panel-body">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active">
					      <img src="{{asset('assets/images/HomeBanner.jpg')}}" alt="...">
					      <div class="carousel-caption">
					          <h4>Brazilian Ports - "Not Applicable" Wooden Packing Material</h4>
					      </div>
					    </div>
					    <div class="item">
					      <img src="{{asset('assets/images/homebanner2.jpg')}}" alt="...">
					      <div class="carousel-caption">
					          <h4>New Tokya/Yokohama to Busan Ferry Service Arrvies in 2 Days</h4>
					      </div>
					    </div>
					    <div class="item">
					      <img src="{{asset('assets/images/homebanner3.jpg')}}" alt="...">
					      <div class="carousel-caption">
					          <h4>For HKG Shipment "Plant Seed" needs specific Certifcate for Compliance</h4>
					      </div>
					    </div>
					  </div>
					 
					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right"></span>
					  </a>
					</div> <!-- Carousel -->
					</div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 inner-side-md">
				<div class="panel panel-default">
					<h3><a data-toggle="tooltip" title="Search Schedule"> お見積り</a></h3>
					<div class="panel-body panel-inner-sm">
						<ul class="list-group">
							<li class="list-group-item"><a href="#">輸出  スケジュール</a></li>
							<li class="list-group-item"><a href="#">輸入 スケジュール</a></li>
							<li class="list-group-item"><a href="#">スケジュール</a></li>
						</ul>
					</div> 
				</div>
			</div>
			<div class="col-md-4 inner-side-md">
				<div class="panel panel-default">
					<h3><a data-toggle="tooltip" title="Search Schedule"> 各種サービス</a></h3>
					<div class="panel-body panel-inner-sm">
						<ul class="list-group">
							<li class="list-group-item"><a href="#">輸出  スケジュール</a></li>
							<li class="list-group-item"><a href="#">輸入 スケジュール</a></li>
							<li class="list-group-item"><a href="#">スケジュール</a></li>
						</ul>
					</div> 
				</div>
			</div>
			<div class="col-md-4 inner-side-md">
				<div class="panel panel-default">
					<h3><a data-toggle="tooltip" title="Search Schedule"> 各種情報</a></h3>
					<div class="panel-body panel-inner-sm">
						<ul class="list-group">
							<li class="list-group-item"><a href="#">輸出  スケジュール</a></li>
							<li class="list-group-item"><a href="#">輸入 スケジュール</a></li>
							<li class="list-group-item"><a href="#">スケジュール</a></li>
						</ul>
					</div> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 inner-side-md">
				<h2>今後の予定</h2>
				<div class="panel panel-info">
			<div class="panel-heading">
				<h3><small>Port from:</small> {{ portOrigin }}</h3>
			</div>
			<div class="panel-body">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered listing">
					<thead>
						<tr>
							<th>Destination</th>
							<th>Schedule Detail</th>
						</tr>
					</thead>
					<tbody>
						{% for schedule in portSchedules %}
						<tr>
							<td>{{ schedule.portDestination.name }}</td>
							<td>
								<ul class="nav navbar">
									<li><a class="btn btn-success schedule-link" href="{{ asset('uploads/schedules/excel/' ~ schedule.excelFile) }}"><i class="fa fa-file-excel-o"></i> {{ schedule.name }}</a></li>
									<li><a class="btn btn-danger schedule-link" href="{{ asset('uploads/schedules/pdf/' ~ schedule.pdfFile) }}"><i class="fa fa-file-pdf-o"></i>  {{ schedule.scheduleMonth }} {{ schedule.scheduleYear }}</a></li>
								</ul>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		
			</div><!-- /example -->
			<div class="pull-left call-to-action__button">
				<a href="{{ path('schedules') }}" class="btn btn-primary btn-submit">More Schedule</a> 
			</div>
			<img src="{{asset('assets/images/banner.jpg')}}" alt="Eculine Hero Image" class="thumbnail img">
			</div>

		</div>
	
	</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}




