{% extends 'base.html.twig' %}

{% block title %}Eculines About Us{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
	<div class="col-sm-8 inner-side-md maincontent">
	<!-- <h4>
	The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
	</h4> -->
		<h1>
		個人情報保護方針
		</h1>
		<hr>
		<div class="row">
			<div class="col-md-12 content-body">
			

<p>この個人情報保護方針は、私どもイーキューワールドワイド株式会社のホームページを利用されるお客様の個人情報に関する弊社の取扱について規定しています。お客様がこのホームページを利用されることで、弊社方針をご理解いただいたものと判断させていただきます。</p>

<h3>個人情報の保管</h3>

<p>弊社がお客様から当サイトで受け取る情報には、お客様のメールアドレス、お名前、自宅や会社の住所、電話番号、等の個人を識別できる情報が含まれます。また、郵便番号、年齢、性別、嗜好、興味、などを、統計資料として、個人を特定しないかたちで保存することがございます。</p>

<p>自動的に取得されるお客様の電算機ハードウェア、ソフトウェア等に関する情報には、IPアドレス、ドメイン、接続時間、関連するウェブアドレスなどが含まれます。情報は、日常業務やサービス品質の維持や向上などのために弊社が利用させていただきます。</p>

<p>もしお客様が弊社のメッセージボード等に個人を特定できる情報などを書き込むと、第三者が利用する可能性があることをご留意ください。</p>
注： 弊社はお客様の個人的な通信は閲覧いたしません。</p>

<p>弊社のホームページからのリンクで他社のホームページを閲覧される場合は、そちらの方針もお読みいただき理解されることをお勧めいたします。</p>
<p>弊社では、他社の個人情報保護方針等いついての責任は負いかねます。</p>


<h3>お客様情報の利用</h3>

<p>弊社では、お客様が必要なサービスをホームページ上で実行するため、お客様の情報を保存し利用いたします。　弊社や関連会社が提供するサービスのご案内のため、お客様を特定する情報を利用することもございます。　また、弊社では既存サービスの改善や新サービスの開始に関するご意見を頂戴する目的でお客様にコンタクトすることがございます。</p>

<p>弊社がお客様リストを他社に販売や貸与をすることは決してございません。</p>
<p>弊社では、お客様が利用できる情報を提供するため、外部取引企業のサービスをご案内することがあります。その場合でも、メールアドレス、お名前、電話番号等のお客様情報を取引企業に提供することはありませんが、統計の分析、お客様へのメールの送付、カスタマーサポート、貨物の集配送、などのため、信頼できる協力業者と必要最小限のデータを共有することがあります。　依頼先には、業務目的以外の個人情報の使用を禁止し、情報の保護を徹底させています。</p>

<p>弊社は、お客様の同意がない限り、人種、宗教、所属政党、などの特定情報は使用いたしません。</p>

<p>弊社では利便性の向上のため、お客様の弊社ウェブページ内でのアクセス状況を記録しております。その情報は、お客様の使い勝手の改善などに利用させていただいております。</p>

<p>弊社では、法令に従う場合や公的機関への協力等が不可欠な場合は、お客様にお知らせすることなく、情報を公的機関等に開示することがあります。</p>
<ul>
	<li>1. 弊社に対する法的手続きでなど必要な場合</li>
<li>2. 弊社の権利や財産保全に必要な場合</li>
<li>3. 弊社利用者その他の安全を確保するために必要な場合</li>
</ul>


<h3>Cookieの使用</h3>

<p>弊社のウェブサイトでは、お客様の利便性を向上させる目的でCookieを使用しております。Cookieとは、サーバーからお客様のハードディスクに送られるテキストファイルです。Cookieにはプログラムを稼動させたりコンピュータウィルスを運ぶ能力はありません。PC毎に個別のCookieが発行され、発行したドメインのウェブサーバーのみで読み取り可能です。</p>

<p>Cookie使用の主な目的は、お客様の時間節約です。　Cookieは特定のサイトに戻ったことをウェブサーバーに知らせます。例えば、お客様が弊社のホームページをお気に入りに登録したりカスタマイズされた場合、弊社ホームページに再訪問される際にCookieはその情報をシステムに知らせます。これにより、お客様の請求先、送り先、などの情報が即座に認識されます。お客様が弊社ホームページに戻られた際、以前の記録が自動認識されますので、作業が楽になります。</p>

<p>ほとんどのウェブブラウザは自動的にCookieを受け入れますが、ブラウザ上で受入れ拒否の設定もできます。拒否の設定をされた場合は、上述の利便性はなくなります。</p>

<p>弊社ではお客様から預かった個人情報は、不正なアクセスができない安全な環境で保管されます。クレジットカード番号のような秘密情報を他のサイトに送信する場合は、SSL等で暗号化し発信します。</p>


<h3>当方針の変更</h3>

<p>弊社では、お客様のご意見等を反映して、当方針を変更することがあります。時々ご覧頂き、弊社の最新の方針を確認することをお勧めいたします。</p>


<h3>お客様からのご意見</h3>

<p>もし当方針が守られていないとお感じになったら、ecu-info@ecuworldwide.comまでご連絡ください。可能な限り速やかに判断し、必要に応じて改善してまいる所存です。</p>





			</div>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}