{% extends 'base.html.twig' %}

{% block title %}Eculines Schedules{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
	<div class="col-sm-8 inner-side-md maincontent">
		<!-- <h4>
			The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
		</h4> -->
		<h1>
			スケジュール
		</h1>
		<hr>
		<p>Select appropriate area</p>
		<div class="col-sm-12 outer-side-sm">
			<ul class="nav nav-pills">
				<li><a href="schedule-asia.php" class="btn btn-success" title="Asia">Asia</a></li>
				<li><a href="schedule-china.php" class="btn btn-success" title="China">China</a></li>
				<li><a href="schedule-europe.php" class="btn btn-success" title="Europe">Europe</a></li>
				<li><a href="schedule-usa.php" class="btn btn-success" title="USA">USA</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Mediterranean">Mediterranean</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Canada">Canada</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Latin America">Latin America</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Africa">Africa</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Middle East">Middle East</a></li>
				<li><a href="schedule-asia.php" class="btn btn-success" title="Oceania">Oceania</a></li>
			</ul>
		</div>
		<br><br>
		<p>For Dangerous Goods / Products</p>
		<div class="col-sm-12 outer-side-sm">
			<ul class="nav nav-pills">
				<li><a href="schedule-asia.php" class="btn btn-danger">Asia</a></li>
				<li><a href="schedule-asia.php" class="btn btn-danger">China</a></li>
				<li><a href="schedule-asia.php" class="btn btn-danger">USA</a></li>
				<li><a href="schedule-asia.php" class="btn btn-danger">Europe and MED</a></li>
				<li><a href="schedule-asia.php" class="btn btn-danger">Middle East</a></li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}