{% extends 'base.html.twig' %}

{% block title %}Eculines Schedules{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
	<div class="col-sm-8 inner-side-md maincontent">
		<h1>
			スケジュール 
		</h1>
		<hr>
		<ol class="breadcrumb">
		<li><a href="{{ path('schedules') }}">Schedule Listing</a></li>
		<li class="active">{{continent|capitalize}}</li>
		</ol>

		<h2><a title="Asia">アジア</a></h2>

		<div class="bs-example bs-example-tabs mb30">
			<ul id="myTab" class="nav nav-pills">
				{% for each in countries %}
					<li class="{{ each.name is same as(activeCountry) ? 'active' : '' }}"><a href="#{{ each.name|lower }}" data-toggle="tab" title="{{ each.name }}">{{ each.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div id="myTabContent" class="tab-content">
			{% for country in countries %}
			    <div class="tab-pane fade {{ country.name is same as(activeCountry) ? 'active in' : '' }}" id="{{country.name|lower}}">
			    	<h3>{{ country.name }}</h3>
			    	{% if ports[country.id] is defined %}
				    	{% for port in ports[country.id] %}
				    		<div class="panel panel-info">
				    		<div class="panel-heading">
				    			<h3><small>Port from:</small> {{ port.name }}</h3>
				    		</div>
				    		<div class="panel-body">
				    			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered listing">
				    				<thead>
				    					<tr>
				    						<th>Destination</th>
				    						<th>Schedule Detail</th>
				    					</tr>
				    				</thead>
				    				
				    				<tbody>
				    					{% if portSchedules[port.id] is defined %}
					    					{% for key, sched in portSchedules[port.id]%}
					    						<tr>
					    							<td>{{ sched.portDestination.name }}</td>
					    							<td>
					    								<ul class="nav navbar">
					    									<li><a class="btn btn-success" href="{{ asset('uploads/schedules/excel/' ~ sched.excelFile) }}"><i class="fa fa-file-excel-o"></i> {{ sched.scheduleMonth }} {{ sched.scheduleYear }}</a></li>
					    									<li><a class="btn btn-danger" href="{{ asset('uploads/schedules/pdf/' ~ sched.pdfFile) }}"><i class="fa fa-file-pdf-o"></i> {{ sched.scheduleMonth }} {{ sched.scheduleYear }}</a></li>
					    								</ul>
					    							</td>
					    						</tr>	
					    					{% endfor %}
				    					{% endif %}
				    				</tbody>
				    			</table>
				    		</div>
				    		</div>	
				    	{% endfor %}
			    	{% endif %}
			    </div> <!-- tab pane 1 -->
			    	{% for port in ports[country.id] %}
			    		<div class="panel panel-info">
			    		<div class="panel-heading">
			    			<h3><small>Port from:</small> {{ port.name }}</h3>
			    		</div>
			    		<div class="panel-body">
			    			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered listing">
			    				<thead>
			    					<tr>
			    						<th>Destination</th>
			    						<th>Schedule Detail</th>
			    					</tr>
			    				</thead>
			    				
			    				<tbody>
			    					{% if portSchedules[port.id] is defined %}
				    					{% for key, sched in portSchedules[port.id]%}
				    						<tr>
				    							<td>{{ sched.portDestination.name }}</td>
				    							<td>
				    								<ul class="nav navbar">
				    									<li><a class="btn btn-success" href="{{ asset('uploads/schedules/excel/' ~ sched.excelFile) }}"><i class="fa fa-file-excel-o"></i> {{ sched.scheduleMonth }} {{ sched.scheduleYear }}</a></li>
				    									<li><a class="btn btn-danger" href="{{ asset('uploads/schedules/pdf/' ~ sched.pdfFile) }}"><i class="fa fa-file-pdf-o"></i> {{ sched.scheduleMonth }} {{ sched.scheduleYear }}</a></li>
				    								</ul>
				    							</td>
				    						</tr>	
				    					{% endfor %}
			    					{% endif %}
			    				</tbody>
			    			</table>
			    		</div>
			    		</div>	
			    	{% endfor %}
			    </div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}