{% extends 'base.html.twig' %}

{% block title %}Eculines Schedules{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
<div class="col-sm-12 inner-side-md maincontent">
	<!-- <h4>
		The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
	</h4> -->
	<h1>
		エクスポートスケジュール
	</h1>
	<hr>
	<p>各航路の月間スケジュールを確認することができます。（スケジュールの変更が有り得ますので、ご理解を賜りますようお願い申し上げます。）</p>
	<div class="row">
		<div class="row">
			<div class="col-md-11 col-offset-1">
				<div class="well login">
					<h4><a data-toggle="tooltip" title="Search Schedule">スケジュール サーチ</a></h4>
					<form class="form-inline" id="form-search" method="post">
					 	<div class="form-group">
					    	<label for="inputEmail3" class="control-label">ポート起源:</label>
						    <select class="form-control" id="select-port" name="portOriginId">
						    	{% if japanPorts %}
						    	
						    	{% for port in japanPorts %}
									<option {% if port.id == queryParams['portOriginId'] %} selected {% endif %} value="{{port.id}}" data-name={{port.name|lower}}>{{port.name}}</option>
						    	{% endfor %}
						    	{% else %}
						    		<option value="">Select One</option>
						    	{% endif %}

							</select>
						</div>
					  	<div class="form-group">
						  	<div class="col-sm-12">
							    <label for="inputPassword3" class="control-label">ポート宛先:</label>
							   	<select class="form-control" id="select-country" name="countryId">
							   		<option value="" selected>Select One</option>
								 	{% for country in countries %}
								 		{% if country.name != 'Japan' %}
											<option {% if country.id == queryParams['countryId'] %} selected {% endif %} value="{{country.id}}" data-name={{country.name|lower}}>{{country.name}}</option>
										{% endif %}
								 	{% endfor %}
								</select>
							    <select class="form-control" {% if not queryParams['portDestinationId'] %}disabled{% endif %} id="select-country-port" name="portDestinationId">
								  <option value="" selected>Select One</option>
								  {% for cp in countryPorts %}
								 	<option {% if cp.id == queryParams['portDestinationId'] %} selected {% endif %} value="{{cp.id}}" data-name={{cp.name|lower}}>{{cp.name}}</option>     
								  {% endfor %}
								</select>
							</div>  
					  	</div>
					  	<div class="form-group">
						   	<button type="submit" class="btn btn-primary">サーチ</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		
	</div>
	
	<hr>
	<div class="col-sm-12 table-schedule">
		<div class="row">
			<h2>スケジュール一覧</h2>
			<ul>
				{% if message %}
					<div class="alert alert-info">
						{{message}}
					</div>
				{% endif %}
				{% for s in schedules %}
					<li>
						<div class="media">
							<div class="pull-left">
									<a href="{{ asset('uploads/schedules/pdf/' ~ s.pdfFile) }}" class="pdf schedule-link">
									<i class="fa fa-file-pdf-o"></i>
								</a>
								<a href="{{ asset('uploads/schedules/excel/' ~ s.excelFile) }}" class="excel schedule-link">
									<i class="fa fa-file-excel-o"></i>
								</a>
							</div>
								<div class="media-body">
								<h4 class="media-heading">{{s.name}}</h4>
							    <p>Port Origin: {{s.portOrigin.name}} - Port Destination: {{s.portDestination.name}}</p>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>

    	</div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
   {# {{ include('layout/sidebar.html.twig') }} #}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var baseUrl = '{{ base_url }}';

		$('#select-country').on('change', function(e) {
			var self = $(this);
			var portSelect = $('#select-country-port');

			portSelect
				.attr('disabled', true)
				.empty()
				.append($("<option>").val("").text("Select One"));

			if(!self.val())
				return false;

			$.ajax({
				url: baseUrl + "api/country/" +self.val()+"/ports",
				type: "get",
				dataType: 'json',
				success: function(data) {
					var ports = data.ports;

					portSelect
						.append(
					  		$.map(ports, function(each) {
								return $("<option>").val(each.id).text(each.name);
					  		})
						)
						.attr('disabled', false);		
				}
			});
		});

		// // Search Form
		$('#form-search').on('submit', function(e) {
			var data = $(this).serialize();
			
			$.ajax({
				url: baseUrl + 'api/generate-search-url',
				type: 'post',
				dataType: 'json',
				data: data,
				success: function(response) {
					window.location.href = response.url;
				}
			});

			e.preventDefault();
		
		});

		$('select').select2();

	</script>
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}