{% extends 'base.html.twig' %}

{% block title %}Eculines Schedules{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
<div class="col-sm-12 inner-side-md maincontent">
	<!-- <h4>
		The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
	</h4> -->
	<h1>
		エクスポートスケジュール
	</h1>
	<hr>
	<p>各航路の月間スケジュールを確認することができます。（スケジュールの変更が有り得ますので、ご理解を賜りますようお願い申し上げます。）</p>
	<div class="col-sm-12 table-schedule">
		<div class="row">
			<h2>スケジュール一覧</h2>
			<ul>
				{% for s in schedules %}
					<li>
						<div class="media">
							<div class="pull-left">
								{% if fileType == fileTypes.pdf %}
									<a href="{{ asset('uploads/schedules/pdf/' ~ s.pdfFile) }}" class="pdf">
										<i class="fa fa-file-pdf-o"></i>
									</a>
								{% endif %}
								{% if fileType == fileTypes.excel %}
									<a href="{{ asset('uploads/schedules/excel/' ~ s.excelFile) }}" class="excel">
										<i class="fa fa-file-excel-o"></i>
									</a>
								{% endif %}
							</div>
								<div class="media-body">
								<h4 class="media-heading">{{s.name}}</h4>
							    <p>Port Origin: {{s.portOrigin.name}} - Port Destination: {{s.portDestination.name}}</p>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>

    	</div>
    </div>
</div>
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}