{% extends 'base.html.twig' %}

{% block title %}Eculines Surchage{% endblock %}

{% block nav %} 
   {{ include('layout/nav.html.twig') }}
{% endblock %}

{% block main %}
		<div class="col-sm-8 inner-side-md maincontent">
			<!-- <h4>
				The World's NVOCC Market Leader ! 200+ Offices in over 90 countries.
			</h4> -->
			<h1><a title="Surcharge">サーチャージ</a></h1>
			<hr>
			{# <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered listing">
	            <tbody>
	                <tr>
	                  <th>航路</th>
	                  <th>YAS</th>
	                  <th>FAF</th>
	                  <th>BAF</th>
	                  <th>CAF</th>
	                  <th>適用期間</th>
	                </tr>
					<tr>
	                    <td rowspan="2">東南アジア</td>                    
	                    <td>US$0.00</td>
	                    <td>US$4.00</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">NOV'15</td>
	                  </tr>
	                <tr>
	                	<td>US$0.00</td>
	                    <td>US$4.00</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">DEC'15</td>
	                </tr>
					<tr>
	                    <td rowspan="2">西アジア・中近東</td>                    
	                    <td></td>
	                    <td>US$5.40</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">OCT'15</td>
	                </tr>
					<tr>
	                    <td></td>
	                    <td>US$5.40</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">NOV'15</td>
	                  </tr>
					<tr>
	                    <td rowspan="2">スリランカ</td>                    
	                    <td></td>
	                    <td>US$5.40</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">OCT'15</td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td>US$5.40</td>
	                    <td></td>
	                    <td></td>
	                    <td height="25">NOV'15</td>
	                </tr>
					<tr>
	                    <td rowspan="2">北欧州・地中海</td>                    
	                    <td></td>
	                    <td></td>
	                    <td>US$16.92</td>
	                    <td>4.64%</td>
	                    <td height="25">OCT'15</td>
	                </tr>
					<tr>
	                	<td></td>
	                    <td></td>
	                    <td>US$13.68</td>
	                    <td>5.00%</td>
	                    <td height="25">NOV'15</td>
	                </tr>
	                <tr>
	                    <td rowspan="2">豪州</td>                    
	                    <td></td>
	                    <td></td>
	                    <td>US$11.25</td>
	                    <td></td>
	                    <td height="25">OCT 03'15～OCT 23'15</td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td>US$10.00</td>
	                    <td></td>
	                    <td height="25">OCT 24'15～不定期</td>
	                </tr>
					<tr>
	                    <td rowspan="2">北米（LAX/LGB(経由）・カナダ）</td>                   
	                     <td></td>
	                    <td></td>
	                    <td>US$9.00</td>
	                    <td></td>
	                    <td height="25">JUL'15～SEP'15</td>
	                </tr>
					<tr>
	                    <td></td>
	                    <td></td>
	                    <td>US$9.00</td>
	                    <td></td>
	                    <td height="25">OCT'15～DEC'15</td>
	                </tr>
	                <tr>
	                    <td rowspan="2">北米（CHICAGO(経由)）</td>                    
	                    <td></td>
	                    <td></td>
	                    <td>US$16.00</td>
	                    <td></td>
	                    <td height="25">JUL'15～SEP'15</td>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td>US$14.00</td>
	                    <td></td>
	                    <td height="25">OCT'15～DEC'15</td>
	                </tr>
	                <tr>
	                    <td rowspan="2">北米（NEW YORK(経由)）</td>                    
	                    <td></td>
	                    <td></td>
	                    <td>US$17.00</td>
	                    <td></td>
	                    <td height="25">JUL'15～SEP'15</td>
	               	</tr>
	                <tr>
	                    <td></td>
	                    <td></td>
	                    <td>US$16.00</td>
	                    <td></td>
	                    <td height="25">OCT'15～DEC'15</td>
	                </tr>
	            </tbody>
	        </table> #}

	        <iframe id="viewer" src="{{ asset('bundles/app/ViewerJS/index.html') }}#{{ asset('uploads/surcharge/surcharge.pdf') }}" width='620' height='600' allowfullscreen webkitallowfullscreen></iframe>
			<hr>
		</div>
{% endblock %}

{% block sidebar %}
   {{ include('layout/sidebar.html.twig') }}
{% endblock %}

{% block footer %}
   {{ include('layout/footer.html.twig') }}
{% endblock %}